<!--Main Navigation-->
<style>
  .intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg") no-repeat center center;
    background-size: cover;
  }

  .view {
    margin-top: -56px;
  }

  .navbar {
    z-index: 1;
    background-color: transparent;
  }

  .top-nav-collapse {
    background-color: #4285F4;
  }

  html,
  body {
    overflow: auto;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #4285F4;
    }
  }

  html,
  body,
  header,
  .view {
    height: 100%;
  }
</style>
<header>
  <div class="view intro-2">

    <div class="full-bg-img">
      <div class="mask rgba-indigo-slight">
        <div style="margin-bottom: 45px;" class="container">

          <div class="white-text wow fadeInUp animated"
            style="visibility: visible; animation-name: fadeInUp; margin-bottom: 45px;">
            <h1 style="text-align: center; margin-top: 100px;" class="h1 white-text">Main Characters:</h1>
            <h3 class="h3 text-center white-text">Katniss Everdeen:</h3>
            <h5 class="text-left white-text" style="font-family: Helvetica;">
              The protagonist of the series, Katniss Everdeen, is a young woman who always has the strong urge to always
              protect those weaker than herself. At the beginning of the novel Katniss dreams of a simple life where her
              loved ones were safe,
              but the events of the previous book, The Hunger Games, have put her in the midst of a myriad of
              complications. Over the course of the novel, Katniss begins to learn she's a symbol of rebellion against
              the Capitol because she defied their rule
              in first novel. (When she threatened suicide with Peeta) Now, however, she finds herself as a rebel,
              trying not to become a puppet of the Capitol. The second situation Katniss is faced with in the novel is
              her reputation of being a rebel.
              Her status as a rebel and being at the forefront of the rebellion makes her the direct target of the
              Capitol. Consequently, the Capitol threatens to kill Katniss' loved ones if she even tries to spark a
              rebellion,
              perhaps the most stressful situation Katniss underwent. Katniss' strong personality and ability to stay
              calm under pressure, makes her an inspiration to the people of Panem along with the reader of the book.
            </h5>
            <h3 class="h3 text-center white-text">Finnick Odair:</h3>
            <h5 class="text-left white-text" style="font-family: Helvetica;">
              As portrayed in the middle of the novel, Finnick appears to be an arrogant self-centered scoundrel. He is
              famous in Panem for being remarkably handsome and for having won the Hunger Games at the age of fourteen.
              As the novel progresses,
              it becomes clear that Finnick's public persona doesn't fit to his personality. During the 75th annual
              Hunger Games, the reader can't help but notice that he is in fact loyal, caring, and dutiful. These
              characteristics are shown when he saves
              Peeta's life in the forest and keeping Mags alive, despite her being a burden on the team. Furthermore,
              even though he could have any woman in the Capitol, he chooses to love an emotionally broken, almost
              insane woman, named Annie from his district.
            </h5>
            <!-- capacity -->
            <h3 class="h3 text-center white-text">Peeta Mellark:</h3>
            <h5 class="text-left white-text" style="font-family: Helvetica;">
              The kind and self-sacrificing Peeta is most notable for his essential "goodness." No matter how troubled
              the situation is, Peeta was never violent or vindictive. In the 3rd quarter quell (75th Hunger Games),
              many of the tributes kill each other,
              despite being friends for years, while Peeta tended to resort to violence when he had no other choice.
              The thought of deliberately harming someone does not even cross his mind, and has a commitment to help
              those around him, even at his own
              expense. Although Peeta is kind, he is extraordinarily clever, using his ability as a gifted speaker to
              convince the audience of anything.
              Because of this, Peeta is able to effectively prove the Hunger Games is unjust, without directly speaking
              out against the Capitol. This ability
              shows his creativeness and intelligence, and unlike the other tributes, he's not afraid to hurt the
              Capitol.
            </h5>
          </div>
        </div>




      </div>
    </div>
    <!-- https://i.ytimg.com/vi/ROiNJm4U6ic/maxresdefault.jpg-->
  </div>
</header>